@{
    ViewData["Title"] = "Person";
}

@model FooBar.Web.Models.PersonModel

<div th-aurelia-enhance-module="app/views/home/home-person">
	<h1>Edit Person</h1>

	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" class="form-control" value.bind="firstName" />
	</div>

	<div class="form-group">
		<label asp-for="LastName"></label>
		<input asp-for="LastName" class="form-control" value.bind="lastName" />
	</div>

	<div class="form-group">
		<label>Full name</label>
		<div>${firstName} ${lastName}</div>
	</div>

	<div class="form-group">
		<label asp-for="Occupation"></label>
		<input asp-for="Occupation" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Age"></label>
		<input asp-for="Age" class="form-control" value.bind="age" />
	</div>

	<div class="form-group">
		<label>Year of birth</label>
		<div>${ currentYear - age }</div>
	</div>
</div>