@{
    ViewData["Title"] = "Person";
}

@model FooBar.Web.Models.PersonModel

<div th-aurelia-enhance-module="app/views/home/home-person" th-aurelia-enhance-data="@Model">
	<h1>Edit Person</h1>

	@if(ViewData.ContainsKey("Feedback"))
	{
		<div class="alert alert-info">
			@ViewData["Feedback"]
		</div>
	}

	<form asp-action="Person" data-ajax="true">
		<div class="form-group">
			<label asp-for="FirstName"></label>
			<input asp-for="FirstName" class="form-control" value.bind="data.firstName" />
		</div>

		<div class="form-group">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" class="form-control" value.bind="data.lastName" />
		</div>

		<div class="form-group">
			<label>Full name</label>
			<div>${data.firstName} ${data.lastName}</div>
		</div>

		<div class="form-group">
			<label asp-for="Occupation"></label>
			<input asp-for="Occupation" class="form-control" />
		</div>

		<div class="form-group">
			<label asp-for="Age"></label>
			<input asp-for="Age" class="form-control" value.bind="data.age" />
		</div>

		<div class="form-group">
			<label>Year of birth</label>
			<div>${ currentYear - data.age }</div>
		</div>

		<div class="form-group"><button>OK</button></div>
	</form>
</div>